@using TicariOtomasyon.Models.Siniflar
@model List<Kategori>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<div class="card bg-light text-dark">
    <div class="card-body"><h2>Kategoriler</h2></div>
</div>

<table class="table table-hover table-bordered table-sm" style="margin-top:20px">
    <tr>
        <th>ID</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.KategoriID </td>
            <td>@k.KategoriAd </td>
            <td><a href="/Kategori/KategoriSil/@k.KategoriID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Kategori/KategoriGetir/@k.KategoriID" class="btn btn-dark">Güncelle</a></td>

        </tr>
    }
</table>
<a href="/Kategori/KategoriEkle" class="btn btn-primary">Kategori Ekle</a>

<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



<h2>Akcan Ticari Otomasyon Programı İlerlemesi</h2>
<p>Program Temelinin oluşturulması ve kurgulanması aşaması</p>
<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:20%"></div>
</div>
<p>Kategori bölümü tamamlanma durumu:</p>
<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:70%"></div>
</div>
<p>Stoklar bölümü tamamlanma durumu:</p>
<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:20%"></div>
</div>
<p>Ürünler bölümüne sadece pasifler listesi ekle</p>
<p>Marka da Kategori değeri gibi ilişkili olsun</p>



